<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 registration-box text-left">
            <div class="jumbotron">
                <h1 class="display-4 jumbotron-title"><strong><%= @blog.title %></strong></h1>
                <p class="lead">
                    <%= @blog.body %>
                </p>
                <br/> <br/>
                <%if @blog.comments.count > 0 %>
                    <p class="lead float-right">
                        <strong>Comments:</strong> <%=@blog.comments.count%>
                    </p>
                    <br/><br/>
                    <p class="lead float-right">
                        <button type="button" class="btn btn-info float-right" data-toggle="collapse" href="#multiCollapseComments" role="button" aria-expanded="false" aria-controls="multiCollapseComments">Show Comments</button>
                    </p>
                    <br/><br/>
                <% end %>
                <% if user_signed_in? %>
                    <% if !@blog.archived? %>
                        <p class="lead float-right">
                            <button type="button" class="btn btn-info float-right" data-toggle="collapse" href="#multiCollapseAddComment" role="button" aria-expanded="false" aria-controls="multiCollapseAddComment">Add Comment</button>
                        </p>
                        <br/><br/>
                    <% end %>
                <% end %>

                <p class="lead float-right">
                    <strong>Author:</strong> <%=@blog.user.full_name%>
                </p>
                <br/> <br/>
                <p class="lead float-right">
                    <strong>Created On:</strong> <%=@blog.created_at.to_date%> |
                    <strong>Modified On:</strong> <%=@blog.updated_at.to_date%>
                </p>
                <br/><br/>
                <p class="lead">
                    <div class="row">
                        <div class="col">
                            <div class="collapse multi-collapse login-box" id="multiCollapseComments">
                                <div class="card card-body">
                                    <%= render @blog.comments %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/><br/>
                    <% if user_signed_in? %>
                        <% if !@blog.archived? %>
                            <div class="row">
                                <div class="col">
                                    <div class="collapse multi-collapse login-box" id="multiCollapseAddComment">
                                        <div class="card card-body">
                                            <%= render 'comments/form' %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                    <% end %>
                </p>
                <hr/>

                <% if user_signed_in? %>
                    <p class="float-right"><%= link_to "Edit", edit_blog_path(@blog) %>
                    <% if @blog.deleted_at == nil %>
                         | <%= link_to "Delete", blog_path(@blog), method: :delete %>
                    <% elsif @blog != nil %>
                         | <%= link_to "Delete Permenantly", blog_path(@blog, del: "Destroy"), method: :delete, notice: "Your blog was successfully deleted." %> | 
                            <%= link_to "Undo Delete", blog_path(@blog), method: :delete %>
                    <% end %>   
                    <% if !@blog.archived? %>
                         | <%= link_to "Archive", blog_path(@blog, arc: "Archive"), method: :delete %>
                     <% end %>
                <% else %>
                    <p class="float-right">Please <%= link_to "Login", new_user_session_path %> or 
                    <%= link_to "Register", new_user_registration_path %> to modify or delete a blog post.</p>
                <% end %>
            </div>
            <button type="button" class="btn btn-info btn-block"><%= link_to "View Index of Blog Posts", blogs_path %></button>
            <% if user_signed_in? %>
                <button type="button" class="btn btn-info btn-block"><%= link_to "Add New Blog Post", new_blog_path %></button>
            <% else %>
                <br/>
                <p class="float-right">Please <%= link_to "Login", new_user_session_path %> or 
                <%= link_to "Register", new_user_registration_path %> to create a new blog post.</p>
            <% end %>
        </div>
    </div>
</div>