<div class="container-fluid">
    <div class="row">
    <% if user_signed_in? %>
        <div class="col-lg-4 registration-box">
            <div>
                <h2>User Profile</h2>
                <hr/>
            </div>
            <div class="card text-card">
                <div class="card-header">
                    <%= current_user.full_name %>
                </div>
                <div class="card-body">
                    <p class="card-text">
                    <strong>First Name:</strong> <%= current_user.first_name %> 
                    <br/>
                    <strong>Last Name:</strong> <%= current_user.last_name %>
                    <br/>
                    <strong>Email Address:</strong> <%= current_user.email %>
                    </p>
                    <button type="button" class="btn btn-info btn-block"><%= link_to "Edit Profile", edit_user_registration_path %></button>
                </div>
            </div>
        </div>
        
        <div class="col-sm-1">
        </div>

        <div class="col-lg-4 registration-box">
            <div>
                <h2>Blog Posts</h2>
                <hr/>
            </div>
            <% if @blogs.count() > 0 %>
                <div class="card text-card">
                    <div class="card-body">
                        <h5 class="card-title">Available Posts</h5>
                        <p class="card-text">These are the list of current blog posts available, click on the title to see the contents.</p>
                        <p>There are <%= Blog.public_count %> blog posts and counting!</p>
                    </div>
                    <% @blogs.each.with_index do |blog, i| %>
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header heading<%=i%>">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse<%=i%>" aria-expanded="true" aria-controls="collapseOne">
                                            <strong><%= blog.title %></strong> (Author:<%=blog.user.full_name%>)
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse<%=i%>" class="collapse" aria-labelledby="heading<%=i%>" data-parent="#accordion">
                                    <div class="card-body">
                                        <%= truncate(blog.body, :length => 300) %>
                                        <br/>
                                        <p class="lead">
                                            <strong>Author:</strong> <%=blog.user.full_name%> 
                                            <br/>
                                            <strong>Created On:</strong> <%=blog.created_at.to_date%> 
                                            <br/>
                                            <strong>Modified On:</strong> <%=blog.updated_at.to_date%>
                                            <%if blog.comments.count > 0 %>
                                                <br/><strong>Comments:</strong> <%=blog.comments.count%>
                                            <% end %>
                                        </p>
                                        <p class="lead float-right">
                                            <%= link_to "View", blog_path(blog) %>
                                            | <%= link_to "Edit", edit_blog_path(blog) %>
                                            <% if blog.deleted_at == nil %>
                                                 | <%= link_to "Delete", blog_path(blog), method: :delete %>
                                            <% elsif blog != nil %>
                                                 | <%= link_to "Delete Permenantly", blog_path(blog, del: "Destroy"), method: :delete, notice: "Your blog was successfully deleted." %> | 
                                                <%= link_to "Undo Delete", blog_path(blog), method: :delete %>
                                            <% end %>  
                                            <% if !blog.archived? %>
                                                 | <%= link_to "Archive", blog_path(blog, arc: "Archive"), method: :delete %>
                                            <% end %> 
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% end %>
            <% else %>
                <div class="card text-card">
                    <div class="card-body">
                        <h5 class="card-title">Available Posts</h5>
                        <p class="card-text">These are the list of current blog posts.  
                        The blog posts index & other pages are not currenlty set up 
                        so the buttons will not point anywhere and these posts do not exist.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Fake Post 1</li>
                        <li class="list-group-item">Fake Post 2</li>
                        <li class="list-group-item">Fake Post 3</li>
                    </ul>
            <% end %>
                    <div class="card-body">
                        <button type="button" class="btn btn-info btn-block"><%= link_to "View Index of Blog Posts", blogs_path %></button>
                        <button type="button" class="btn btn-info btn-block"><%= link_to "Add New Blog Post", new_blog_path %></button>
                    </div>
                </div>
        <% else %>
            <div class="col-lg-4 registration-box">
                <h4>Please <%= link_to "login", new_user_session_path %> or <%= link_to "sign up", new_user_registration_path %> to access user profile</h4>
            </div>
            <div class="col-sm-1">
            </div>

            <div class="col-lg-4 registration-box">
                <div>
                    <h2>Blog Posts</h2>
                    <hr/>
                    <button type="button" class="btn btn-info btn-block"><%= link_to "View Index of Blog Posts", blogs_path %></button>
                </div>
        <% end %>
    </div>
</div>


