<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 registration-box text-left">
            <% if current_user %>
                <h2>Welcome <%= current_user.first_name%>!</h2>
                <hr/>
                <h4>Your username is <%= current_user.email %></h4>
                <h4>Full name: <%= current_user.first_name %> <%= current_user.last_name %></h4>
                <button type="button" class="btn btn-info btn-block"><%= link_to "View Blogs", blog_index_path %></button>
            <% else %>
                <h2>Welcome!</h2>
                <hr/>
                <h4>Please <%= link_to "login", new_user_session_path %> or <%= link_to "sign up", new_user_registration_path %></h4>
                <button type="button" class="btn btn-info btn-block"><%= link_to "View Blogs", blog_index_path %></button>
            <% end %>
        </div>
        <div class="col-lg-2">
        </div>
        <div class="col-lg-5 container-fluid text-right">
            <br/><br/><br/>
            <p>
                This is a blog post engine for team TPOZ to help with onboarding.
                The app is built on a rails server which makes use of the MVC architechtural pattern & react frontend is planned.  
                A user will need to register for an account first and then log in to view/ create/ edit/ delete/ archive the blog posts.
            </p>
        </div>
        <div class="col-lg-1">
        </div>
    </div>
</div>