<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 registration-box">
            <div>
                <h2>Blog Posts</h2>
                <hr/>
            </div>
            <% if @blogs.count() > 0 %>
            <% @blogs.each do |blog| %>
                <div class="jumbotron">
                    <h1 class="display-12"><%= blog.title %></h1>
                    <p class="lead">
                    <strong>Posted By:</strong> <%= @user_name%> (id:<%=blog.users_id%>)
                    <br/>
                    <strong>Created On:</strong> <%=blog.created_at%>
                    <br/>
                    <strong>Modified On:</strong> <%=blog.updated_at%>
                    <br/>
                    <strong>Body:</strong> <%= blog.body %>
                    </p>
                    <hr class="my-4">
                    <p><%= link_to "Edit", edit_blog_path(blog) %></p>
                    <p><%= link_to "Show", blog_path(blog) %></p>
                </div>
                <br/>
            <% end %>
            <hr/>
            <button type="button" class="btn btn-info btn-block"><%= link_to "Add New Blog Post", new_blog_path %></button>
            <% else %>
            <p>There are no articles yet, please create a blog post...</p>
            <%end%>
        </div>
    </div>
</div>

