<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 registration-box text-left">
            <div class="jumbotron">
                <h1 class="display-4"><%= @blog.title %></h1>
                <p class="lead">
                    <%= @blog.body %>
                </p>
                <br/> <br/>
                <p class="lead float-right">
                    <strong>Posted By:</strong> <%= @user_name%> (id:<%=@blog.users_id%>)
                </p>
                <br/> <br/>
                <p class="lead float-right">
                    <strong>Created On:</strong> <%=@blog.created_at%> |
                    <strong>Modified On:</strong> <%=@blog.updated_at%>
                </p>
                <br/> <br/>
                <hr/>
                <% if user_signed_in? %>
                    <p class="float-right"><%= link_to "Edit", edit_blog_path(@blog) %>
                    | <%= link_to "Delete", blog_path(@blog),
                        method: :delete,
                        data: { confirm: "Are you sure?" } %></p>
                <% else %>
                    <p class="float-right">Please <%= link_to "Login", new_user_session_path %> or 
                    <%= link_to "Register", new_user_registration_path %> to modify or delete a blog post.</p>
                <% end %>
            </div>
            <button type="button" class="btn btn-info btn-block"><%= link_to "View Index of Blog Posts", blog_index_path %></button>
            <% if user_signed_in? %>
                <button type="button" class="btn btn-info btn-block"><%= link_to "Add New Blog Post", new_blog_path %></button>
            <% else %>
                <br/>
                <p class="float-right">Please <%= link_to "Login", new_user_session_path %> or 
                <%= link_to "Register", new_user_registration_path %> to create a new blog post.</p>
            <% end %>
        </div>
    </div>
</div>